@import "../../App.scss";

.userHome {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh minmax(78vh, max-content) 12vh;
    background: url("../../images/papyrus.png");
    background-repeat: repeat;
    .home-main {
        height: 100%;
        width: 100%;
        padding: 0 30%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        @media only screen and (max-width: 756px) {
            padding: 0 20%;
        }
        @media only screen and (max-width: 600px) {
            padding: 0 5%;
        }
        .greetings {
            position: relative;
            // height: 100%;
            // width: 100%;
            display: flex;
            justify-content: center;
            // align-items: flex-end;
            margin-bottom: 6rem;

            h1 {
                text-align: center;
                color: $lightGrey;
                font-weight: 700;
            }
        }
        .massgae {
            // margin-top: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // border: 2px solid lightgray;
            // background-color: rgba(255, 255, 255, 0.438);
            border-radius: 5px;
            margin-bottom: 4rem;
            position: relative;
            padding: 2rem;
            overflow: auto;
            box-sizing: border-box;

            span {
                color: $mainColor;
                text-align: center;
                font-size: 1.8rem;
                font-weight: 600;
                margin-bottom: 1rem;
                text-decoration: underline;
            }
            p{
                font-style: italic;
                font-size: 2rem;
                color: $lightGrey;
                text-align: center;
                width: 100%;
                margin: 0;
                max-height: 12rem;

            }
        }
        .links {
            position: relative;
            box-sizing: border-box;
            // height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .btn {
                border: none;
                width: 100%;
                font-size: 2rem;
                height: 8rem;
                color: white;
                font-weight: 700;
                cursor: pointer;
                border-radius: 3px;
                transition: 0.3s ease;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 3rem;

                &.full {
                    background-color: $mainColor;
                    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
                    i {
                        font-size: 3rem;
                        margin-right: 2rem;
                        transform: translateY(0.1rem);
                    }
                    &:hover {
                        transition: 0.3s ease;
                        background-color: $hoverBtn;
                    }
                }
                &.outline {
                    border: 2px solid $mainColor;
                    color: $mainColor;
                    i {
                        font-size: 2.4rem;
                        margin-right: 2rem;
                        transform: translateY(0.1rem);
                    }
                    &:hover {
                        background-color: $mainColor;
                        color: white;
                    }
                }
            }
        }
    }
    .footer {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
        font-size: 1.6rem;
        color: $lightGrey;
        font-weight: 500;
        .link {
            margin-bottom: 1.5rem;
            background-color: transparent;
            border: none;
            font-size: 1.6rem;
            // height: 6rem;
            color: $lightGrey;
            font-weight: 500;
            cursor: pointer;
            border-radius: 3px;
            transition: 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.2s ease;
            font-weight: 700;
            display: inline-block;
            transition: all 0.3s;
            span {
                &:hover {
                    text-decoration: underline;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}
