@import "../../../App.scss";

.orderModal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .orderModalPopUp {
        background-color: white;
        
        height: 90%;
        width: 50%;
        opacity: 1;
        // margin: 10% auto 0;
        border-radius: 5px;

        display: grid;
        grid-template-rows: 7% 82% 7%;
        gap: 2%;
        text-align: center;
        padding: 2rem;
        box-sizing: border-box;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);

        @media only screen and (max-width: 1100px) {
            width: 65%;
        }
        @media only screen and (max-width: 900px) {
            width: 75%;
        }

        @media only screen and (max-width: 756px) {
            width: 85%;
        }
        @media only screen and (max-width: 600px) {
            width: 92%;
        }

        h2 {
            font-size: 2.5rem;
            margin: 0;
            // margin-bottom: 2rem;
            font-weight: bolder;
            color: $mainColor;
            box-sizing: border-box;
        }

        .deatilsDiv {
            overflow: auto;
            .dayDeatil {
                padding: 1.5rem 0;
                &:nth-child(odd) {
                    background-color: rgba(211, 211, 211, 0.37);
                }
                .dayDeatilTitle {
                    font-size: 1.8rem;
                    font-weight: bold;
                    color: #333;
                    margin-bottom: 0.7rem;
                    display: block;
                    // text-decoration: underline;
                }
                .dayDeatilDishes {
                    display: flex;
                    flex-direction: column;
                    color: #444;

                    .dayDeatilDish {
                        font-size: 1.6rem;
                        &:nth-child(even) {
                            margin-top: 0.5rem;
                        }
                    }
                }
            }
            .successMsg {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2.5rem;
            }
        }

        .btns-row {
            width: 100%;
            padding: 0 15%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            button {
                width: 100%;
                border-radius: 3px;
                border: none;
                outline: none;
                cursor: pointer;
                color: white;
                padding: 0.8rem 1.3rem;
                font-size: 1.6rem;
                transition: all 0.2s ease;
                font-weight: 600;
                &.cancel {
                    background-color: $error;
                    &:hover {
                        background-color: #eb0f51;
                    }
                }
                &.send {
                    background-color: #2dc55a;
                    margin-left: 1rem;
                    &:hover {
                        background-color: #209b45;
                    }
                }
                
            }
            
        }
        .successBtn {
            background-color: $mainColor;
            width: 100%;
            border-radius: 3px;
            border: none;
            outline: none;
            cursor: pointer;
            color: white;
            padding: 0.8rem 1.3rem;
            font-size: 1.6rem;
            transition: all 0.2s ease;
            font-weight: 600;
            &:hover {
                background-color: $hoverBtn;
            }
        }
    }
}
